<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/style.css"> 
		<title>考勤神器</title>
	</head>
	<body>
		<div class="container buqiandao">
			<div class="header">
				<span class="leftIco"></span>
				<h4>2015-10-30周五 10:30:30</h4>
			</div>
			<div class="content">
				<form>
					<ul>
						<li><label>学号</label><input type="text"></li>
						<li><label>班级</label><input type="text"></li>
						<li><label>姓名</label><input type="text"></li>
						<li class="btnLi"><button type="submit" class="btn btn-success">确定</button></li>
					</ul>
				</form>
			</div>
		</div>
	</body>
</html>
