<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<link rel="stylesheet" href="../public/css/bootstrap.min.css">
		<link rel="stylesheet" href="../public/css/style.css"> 
			<script type="text/javascript" src="../../js/jquery.min.js" ></script>
		<script type="text/javascript" src="../public/js/touch.js" ></script>
		<title>创建课程</title>
	</head>
	<body>
		<div class="container creatKc">
			<div class="header">
				<span class="leftIco"></span>
				<h4>创建课程</h4>
			</div>
			<div class="content">
				<form>
					<ul>
						<li><label>学&#12288;&#12288;校</label><input type="text" id="school"></li>
						<li><label>课程名称</label><input type="text" id="subject"></li>
						<li><label>上课班级</label><input type="text" id="cls"></li>
						<li class="btnLi"><button type="button" class="creatBtn btn btn-success" id="ctSubject">创建课程</button></li>
					</ul>
				</form>
			</div>
		</div>
		
		<script>
		$(function(){
				touch.on(".leftIco","tap",function(){
				window.location.href="/subject_list";
			})
			$("#ctSubject").click(function(){
				if ($("#school").val() == "" || $("#subject").val() == "" || $("#cls").val() == "")
				{
					alert('输入内容不能为空');
				} else {
					var data = {
						"school"   : $("#school").val(),
						"subject"  : $("#subject").val(),
						"cls"      : $("#cls").val(),
						"user_id"  : localStorage.getItem("user_id")
					};
					$.ajax({
						url : "/post_subject_info",
						type : "post",
						data : data,
						success : function(res){
							window.location.href="/subject_list";
						},
						error : function(res){
							window.location.href="/subject_list";
						}
					});
				}
			});
		})
		</script>
	</body>
</html>
