<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/style.css"> 
		<title>考勤神器</title>
	</head>
	<body>
		<div class="container stuFir">
			<div class="header">
				<img class="bookIco pull-left" src="../../img/book.png">
				<h4>《中国近代史纲要》</中国近代史纲要></h4>
				<p>管理31/32、计算机31</p>
			</div>
			<div class="tool">
				<p>首次绑定个人信息,绑定后<span>不可修改</span></p>
			</div>
			<div class="content">
				<p>微信号 xhdiad</p>
				<form>
					<ul>
						<li><label id="cls">班级</label><input type="text"></li>
						<li><label id="name">姓名</label><input type="text"></li>
						<li><label id="number">学号</label><input type="text"></li>
						<li class="btnLi"><button type="button" class="btn btn-success" id="ctStudent">签到</button></li>
					</ul>
				</form>
			</div>
		</div>
		<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script>
			$("#ctStudent").click(function(){
				var data = {
					"number"    : $("#number").val(),
					"name"      : $("#name").val(),
					"cls"       : $("#cls").val()
				};
				$.ajax({
					url : "post_student_info",
					type : "post",
					data : data,
					async: false,
					success : function(res){
						if (res.code == 0)
						alert("success");
						else
						alert("failed");
					},
					error : function(res){
						alert("failed");
					}
				});
			});
		</script>
	</body>
</html>
