<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/login.css"> 
		<script type="text/javascript" src="/js/jquery.min.js" ></script>
		<script type="text/javascript" src="/js/touch.js" ></script>
		<script type="text/javascript" src="/js/login/register.js"></script>
		<title></title>
	</head>
	<body>
		<div id="registerCont" class="container " >
			<ul class="form-box">
				<li>
					<input id="email_id" type="text" placeholder="请输入邮箱账号"/>
					<span id="delEmail" class="del-ico"></span>
				</li>
				<li class="num-li">
					<input id="dec_id"type="text" placeholder="请输入设备编号"/>
					<span id="delDec" class="del-ico"></span>
				</li>
				<li class="num-li">
					<input id="pass_id" type="password" placeholder="请设置密码"/>
					<span id="delPass" class="del-ico"></span>
				</li>
				<li>
					<input id="config_id" type="password" placeholder="确认密码"/>
					<span id="delConfig" class="del-ico"></span>
				</li>
			</ul>
			<a class="btn btn-default" id="register_id" >完成注册</a>
			<p class="reg-box">
				<a id="register" class="foot-btn" href="login.html">登陆已有账号</a>
			</p>
		</div>
	</body>
</html>
