<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/login.css"> 
		<script type="text/javascript" src="/js/jquery.min.js" ></script>
		<script type="text/javascript" src="/js/touch.js" ></script>
		<script type="text/javascript" src="/js/reset_pass.js"></script>
		<title></title>
	</head>
	<body>
		<div id="resetPassWord" class="container " >
			<ul class="form-box">
				<li>
					<input type="password" id="newPass" placeholder="请设置新密码"/>
					<span id="delNew" class="del-ico"></span>
				</li>
				<li>
					<input id="oldPass" type="password" placeholder="请再次输入新密码"/>
					<span id="delOld" class="del-ico"></span>
				</li>
			</ul>
			<a class="btn btn-default " id="finish_login">完成并登陆</a>
		</div>
	</body>
</html>
