<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/style.css"> 
			<script type="text/javascript" src="../../js/jquery.min.js" ></script>
		<script type="text/javascript" src="../../js/touch.js" ></script>
		<title>考勤神器</title>
	</head>
	<body>
		<div class="container buqiandao">
			<div class="header">
				<span class="leftIco"></span>
				<h4><script>document.write(localStorage.getItem("create_time"))</script></h4>
			</div>
			<div class="content">
				<form>
					<ul>
						<li><label>学号</label><input type="text" id="number"></li>
						<li><label>班级</label><input type="text" id="cls"></li>
						<li><label>姓名</label><input type="text" id="name"></li>
						<li class="btnLi"><button id="resign_btn" type="button" class="btn btn-success">确定</button></li>
					</ul>
				</form>
			</div>
		</div>
	</body>
	<script>
		touch.on(".leftIco","tap",function(){
			window.location.href="/sign_summery";
		})
		touch.on("#resign_btn","tap",function(){
			var data = {
				"class_id"  : localStorage.getItem("class_id"),
				"number"    : $("#number").val(),
				"name"      : $("#name").val(),
				"cls"       : $("#cls").val()
			};
			if ($("#number").val() == "" || $("#name").val() == "" || $("#cls").val() == "")
			{
				alert("请正确输入学号，班级，姓名");
			}
			else {
				$.ajax({
					url  : "/post_tmp_sign",
					type : "post",
					data : data,
					success : function(res){
						window.location.href="/sign_summery";
					},
					error : function(res){
					}
				});
			}
		})
	</script>
</html>
