<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/style.css"> 
		<title>考勤神器</title>
	</head>
	<body>
		<div class="container stuSec">
			<div class="header">
				<img class="bookIco pull-left" src="../../img/book.png">
				<h4 id="subject"><%= subject %></h4>
				<p id="cls"><%= cls %></p>
			</div>
			<div class="tool">
			</div>
			<div class="content">
				<p>微信号 <%= wx_id %></p>
				<form>
					<ul>
						<li class="btnLi"><button type="button" id="sign" class="btn btn-success">签到</button></li>
					</ul>
				</form>
			</div>
		</div>
	</body>
	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script>
		$("#sign").click(function(){
			$.ajax({
				url : "post_sign_up",
				type : "post",
				async: false,
				success : function(res){
					if (res.code == 0)
					window.location.href = "/sign_ok";
					else
					alert("failed");
				},
				error : function(res){
					alert("failed");
				}
			});
		});
	</script>
</html>
