<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<link rel="stylesheet" href="../public/css/bootstrap.min.css">
		<link rel="stylesheet" href="../public/css/style.css"> 
		<script type="text/javascript" src="../public/js/jquery.min.js" ></script>
		<script type="text/javascript" src="../public/js/touch.js" ></script>
		<title>考勤神器</title>
	</head>
	<body>
		<div class="container result">
			<div class="header">
				<span class="leftIco"></span>
				<h4 id="resTitle"></h4>
			</div>
			<div class="content">
				<div class="title">
					<img class="bookIco pull-left" src="../../img/book.png">
					<span id="subjectId"></span>
					<p id="classId"></p>
					<a class="rightIco btn btn-success" id="resign">补签到</a>
				</div>
				<div class="popNum">
					<p>共计<span id="allPerson"></span>人:<span id="signPerson"></span>人出勤;<span id="unsignPerson">2</span>人缺勤。</p>
				</div>
				<div>
					<ul>
						<li class="duty">
						<p class="listTitle">缺勤</p>
						<div id="unsgin">
						</div>

						</li>
						<li class="attendance">
						<p class="listTitle">出勤</p>
						<div id="sgin">
						</div>

						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
	<script>
	$(function(){
		$("#resTitle").html(localStorage.getItem("create_time"))
		$("#subjectId").html(localStorage.getItem("subject"))
		$("#classId").html(localStorage.getItem("cls"))
		touch.on(".leftIco","tap",function(){
			window.location.href="/start_sign";
	    })
		$("#resign").click(function(){
			window.location.href="/resign";
		});
		$(function(){
			var data={
				"class_id"   :  localStorage.getItem("class_id"),
				"subject_id" :  localStorage.getItem("subject_id")
			}
			$.ajax({
				url : "/get_sign_summery",
				type : "post", 
				data:data,
				async : false, 
				success : function(dataRes){ 

					var signHtml='';
					var unsignHtml='';
					var sign = dataRes.sign;
					var unsign = dataRes.unsign;
					var tmp = dataRes.tmp;
					$("#allPerson").html(sign.length+unsign.length+tmp.length);
					$("#signPerson").html(sign.length+tmp.length);
					$("#unsignPerson").html(unsign.length)

					for(var i=0;i<unsign.length;i++){
						unsignHtml+='<div class="popList"><img class="bookIco pull-left" src="../../img/book.png">';
							unsignHtml+='<p><span class="uName">'+unsign[i].name+'</span><span class="uNum">'+unsign[i].number+'</span></p>';
							unsignHtml+='<p><span class="uClass">'+unsign[i].class+'</span></p>';
							unsignHtml+='<a class="rightIco btn btn-success" id="item_resign">签到</a></div>'
					}
					$("#unsgin").html(unsignHtml);

					for(var j=0;j<sign.length;j++){
						signHtml+='<div class="popList"><img class="bookIco pull-left" src="../../img/book.png">';
							signHtml+='<p><span class="uName">'+sign[j].name+'</span><span class="uNum">'+sign[j].number+'</span></p>';
							signHtml+='<p><span class="uClass">'+sign[j].class+'</span></p>';
							signHtml+='<img class="rightIco" src="../../img/ok.png"></img></div>';
					}
					for (var j=0;j<tmp.length;j++){
						signHtml+='<div class="popList"><img class="bookIco pull-left" src="../../img/book.png">';
						signHtml+='<p><span class="uName">'+tmp[j].name+'</span><span class="uNum">'+tmp[j].number+'</span></p>';
						signHtml+='<p><span class="uClass">'+tmp[j].class+'</span></p>';
						signHtml+='<img class="rightIco" src="../../img/ok.png"></img></div>';

					}
					$("#sgin").html(signHtml);
					//李治虎添加的，可以找到这个div里面所有的html，需要什么参数传递什么参数
					//点击补签到
					touch.on("#unsgin a","tap",function(a){
							var _this = this;

							var data = {
								"class_id"	 : localStorage.getItem("class_id"),
								"subject_id" : localStorage.getItem("subject_id"),
								"number"	 : $($(_this).parent()[0]).find(".uNum").html(),
								"name"		 : $($(_this).parent()[0]).find(".uName").html(),
								"cls"		 : $($(_this).parent()[0]).find(".uClass").html()
							};
							$.ajax({
								url : '/post_resign_up',
								type : 'post',
								data : data,
								success : function(res){
									window.location.href="/sign_summery";	
								}
							});
						})
				}

			});
		})
	})
		

	</script>
</html>
