<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/style.css"> 
		<title>考勤神器</title>
	</head>
	<body>
		<div class="container signOK">
			<div class="header">
				<img class="bookIco pull-left" src="../../img/book.png">
				<h4><%= subject %></h4>
				<p><%= cls %></p>
			</div>
			<div class="tool">
			</div>
			<div class="content">
				<p><img src="../../img/ok.png"></span>签到成功！</p>
			</div>
		</div>
	</body>
</html>
