<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/style.css"> 
		<script type="text/javascript" src="../../js/jquery.min.js" ></script>
		<script type="text/javascript" src="../../js/touch.js" ></script>
		<title>考勤神器</title>
	</head>
	<body>
		<div class="container star">
			<div class="header">
				<span class="leftIco"></span>
				<h4>开始考勤</h4>
			</div>
			<div class="content">
				<div class="title">
					<img class="bookIco pull-left" src="../../img/book.png">
					<span><script>document.write(localStorage.getItem("subject"))</script></span>
					<p><script>document.write(localStorage.getItem("cls"))</script></p>
					<a class="rightIco btn btn-primary">发送报告</a>
				</div>
				<div class="body">
					<ul id="history_list">
					</ul>
				</div>
			</div>
			<div class="footer">
				<button type="button" class="starBtn btn btn-success" id="start_sign">开始考勤</button>
				<button type="button" class="starBtn btn btn-danger" id="over_sign" style="display:none">结束考勤</button>
			</div>
		</div>
	</body>
	<script>
		var data = {
			"subject_id" : localStorage.getItem("subject_id")
		};
		$.ajax({
			url : "/get_history_sign",
			data : data,
			type : "post", 
			async : false, 
			success : function(dataRes){ 
				console.log(dataRes)
				var html='';
				for(var i=0;i<dataRes.length;i++){
					html+='<li><span>'+dataRes[i].create_time+'<span class="rightIco"></span></span></li>'
				}
				$("#history_list").html(html)
			}
		});
		touch.on("#start_sign",'tap',function(){
			var _this = this;
			$("#start_sign").hide();
			$("#over_sign").show();

			//开始考勤
			var data = {
				"subject_id" : localStorage.getItem("subject_id")
			};
			$.ajax({
				url : "/post_start_sign",
				data : data,
				type : "post", 
				success : function(dataRes){ 
					localStorage.create_time = dataRes.msg.create_time;
					localStorage.class_id = dataRes.msg.class_id;
					var student_sign_data = {
						"class_id" : dataRes.msg.class_id;
						"subject_id" : localStorage.getItem("subject_id");
						"subject" : localStorage.getItem("subject");
						"cls" : localStorage.getItem("cls");
					};
					$.ajax({
						url : "/welcome",
						data : student_sign_data,
						type : "post", 
						success : function(dataRes){ 
						}
					});
				}
			});
		});
		touch.on("#over_sign",'tap',function(){
			window.location.href="/sign_summery";
		});

	</script>
</html>
