<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<link rel="stylesheet" href="../public/css/bootstrap.min.css">
		<link rel="stylesheet" href="../public/css/style.css"> 
		<script type="text/javascript" src="../public/js/jquery.min.js" ></script>
		<script type="text/javascript" src="../public/js/touch.js" ></script>
		<title>考勤神器</title>
	</head>
	<body>
		<div class="container star">
			<div class="header">
				<div class="hearderH">
					
				
					<span class="leftIco"></span>
					<h4>开始考勤</h4>
				</div>
				<div class="title" id="satr_sign_class">
					<img class="bookIco pull-left" src="../../img/book.png">
					<span id="subjectIdd" class="names"><script>document.write()</script></span>
					<p id="startId"><script>document.write()</script></p>
					<a class="rightIco btn btn-primary">发送报告</a>
				</div>
			</div>
			<div class="content">

				<div class="body" id="listBox" >
					<ul id="history_list" >
						
					</ul>
				</div>
			</div>
			<div class="footer">
				<button type="button" class="starBtn btn btn-success" id="start_sign">开始考勤</button>
				<button type="button" class="starBtn btn btn-danger" id="over_sign" style="display:none">结束考勤</button>
			</div>
		</div>
	</body>
	<script>
	$(function(){
		$("#subjectIdd").html(localStorage.getItem("subject"));
		$("#startId").html(localStorage.getItem("cls"));
		touch.on(".leftIco","tap",function(){
			window.location.href="/subject_list";
		})
		var data = {
			"subject_id" : localStorage.getItem("subject_id")
		};
		$.ajax({
			url : "/get_history_sign",
			data : data,
			type : "post", 
			async : false, 
			success : function(dataRes){ 
				var html='';
				for(var i=0;i<dataRes.length;i++){
					html+='<li><span>'+dataRes[i].create_time+'</span>';
					html+='<p hidden="hidden">' + dataRes[i].class_id + '</p></li>';
				}
				$("#history_list").html(html)
				$("#history_list li").each(function(){
					var _this = this;
					touch.on(_this,'tap',function(originEvent){

				//touch.on("#history_list li",'tap',function(originEvent){
					localStorage.create_time = $($(_this).context).find('span').html();
					localStorage.class_id = $($(_this).context).find('p').html();

				//	localStorage.create_time = originEvent.srcElement.childNodes[0].innerHTML;
				//	localStorage.class_id = originEvent.srcElement.childNodes[1].innerHTML;
					window.location.href="/sign_summery";
					})
				})
			}
		});
		touch.on("#start_sign",'tap',function(){
			var _this = this;
			$("#start_sign").hide();
			$("#over_sign").show();

			//开始考勤
			data = {
				"subject_id" : localStorage.getItem("subject_id")
			};
			$.ajax({
				url : "/post_start_sign",
				data : data,
				type : "post", 
				success : function(dataRes){ 
					localStorage.create_time = dataRes.msg.create_time;
					localStorage.class_id = dataRes.msg.class_id;
					var student_sign_data = {
						"user_id" : localStorage.getItem("user_id"),
						"class_id" : dataRes.msg.class_id,
						"subject_id" : localStorage.getItem("subject_id"),
						"subject" : localStorage.getItem("subject"),
						"cls" : localStorage.getItem("cls")
					};
					$.ajax({
						url : "/add_signing_status",
						data : student_sign_data,
						type : "post", 
						success : function(dataRes){ 
						}
					});
				}
			});
		});
		touch.on("#over_sign",'tap',function(){
			data = {
				"user_id" : localStorage.getItem("user_id")
			};
			$.ajax({
				url : "/del_signing_status",
				type : "post", 
				data : data,
				success : function(dataRes){ 
					window.location.href="/sign_summery";
				}
			});
		});

	})
		
	</script>
</html>
