<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/style.css"> 
		<script type="text/javascript" src="../../js/jquery.min.js" ></script>
		<script type="text/javascript" src="../../js/touch.js" ></script>
		<title>考勤神器</title>

	</head>
	<body>
		<div id="subject_list" class="container list" style="display: none;">
			<div class="header">
				<h4>课程列表</h4>
				<span id="creatClassList">+创建课程</span>
			</div>
			<div class="content">
				<ul id="classList">
				</ul>
			</div>
		</div>
		<div id="uuIdInfo" class="container buqiandao" style="display: none;">
			<div class="header">
				<span class="leftIco"></span>
				<h4>完善信息</h4>
			</div>
			<div class="content">
				<form>
					<ul>
						<li><label>uuid：</label><input type="text" id="input_uuid"></li>
						<li class="btnLi"><button id="sure" class="btn btn-success">确定</button></li>
					</ul>
				</form>
			</div>
		</div>
		
		<script>
			$(function(){
				
				function subject_list(){
					data = {
						"user_id" : localStorage.getItem("user_id")
				    };
			        $.ajax({
					    url : "/del_signing_status",
					    type : "post", 
					    data : data,
						success : function(){
						}
				    });
					$("#subject_list").show();
					var data = {
						"user_id" : localStorage.getItem('user_id')
					};
					$.ajax({
						url : "/post_subject_list",
						type : "post", 
						data : data,
						success : function(dataRes){ 
							var html='';
							for(var i=0;i<dataRes.length;i++){
								html+='<li><img class="bookIco pull-left" src="../../img/book.png">';
								html+='<div hidden="hidden">' + dataRes[i].subject_id + '</div>';
								html+='<span>《'+dataRes[i].subject+'》</span>';
								html+='<p>'+dataRes[i].class+'</p><span class="rightIco"></span></li>';
							}
							$("#classList").html(html);
							//李治虎修改的
							$("#classList li").each(function(){
								var _this = this;
								touch.on(_this,'tap',function(){
								 console.log($($(_this).context).find('span').html());
								 localStorage.subject_id = $($(_this).context).find('div').html();
								 localStorage.subject = $($(_this).context).find('span').html();
								 localStorage.cls = $($(_this).context).find('p').html();
								/*localStorage.subject_id = originEvent.srcElement.childNodes[1].innerHTML;
								localStorage.subject = originEvent.srcElement.childNodes[2].innerHTML;
								localStorage.cls = originEvent.srcElement.childNodes[3].innerHTML;*/
								window.location.href="/start_sign";
							})
							})
							
						}
					});
				}	
				if(!localStorage.getItem("user_id")){
					$("#uuIdInfo").show();
					touch.on("#sure","tap",function(){
						if($("#input_uuid").val()==''||$("#input_uuid").val()==undefined){
							alert("请输入uuid")
						}else{
						localStorage.setItem("user_id",$("#input_uuid").val());
						//alert($("#input_uuid").val())
						$("#uuIdInfo").hide();
						$("#subject_list").show();
						}
						
					})
				}else{
					subject_list();
				}
				
				//创建课程
				touch.on("#creatClassList",'tap',function(){
					window.location.href="/create_subject";
				})
			})
		</script>
	</body>
</html>
