<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/style.css"> 
		<title>考勤神器</title>
	</head>
	<body>
		<div class="container stuFir" id="isSign">
			<div id="isStartSign" style="display:none"> 
				<div class="header">
					<img class="bookIco pull-left" src="../../img/book.png">
					<h4 id="subject_txt"></h4>
					<p id="cls_txt"></p>
				</div>
				<div class="tool" id="isFirstSign">
					<p>首次绑定个人信息,绑定后<span>不可修改</span></p>
				</div>
				<div class="content" id="firstSignContent">
					<form>
						<ul>
							<li><label>班级</label><input type="text" id="cls"></li>
							<li><label>姓名</label><input type="text" id="name"></li>
							<li><label>学号</label><input type="text" id="number"></li>
						</ul>
					</form>
				</div>
				<div class="btnLi" id="sign_up"><button id="signSure" class="btn btn-success">签到</button></div>
				<div id="signSuccess" style="display:none">
					<p id="ok"style="margin-top:50px;margin-left: 150px;"><img src="../../img/ok.png"></span>签到成功！</p>
					<p style="margin-top:50px;margin-left: 250px;display:none"id="wrong"><img src="../../img/wrong.png"></span>签到失败！</p>
				</div>
			</div>
			<div id="noSign" style="display:none">
				<p style="margin-top:50px;margin-left: 150px;"id="wrong"><img src="../../img/wrong.png"></span>考勤还没开始！</p>
			</div>
		</div>
		<script type="text/javascript" src="../../js/jquery.min.js" ></script>
		<script type="text/javascript" src="../../js/touch.js" ></script>
		<script>
			var url = location.href;
			var ticket = url.substring(url.indexOf("?")+1,url.length).split("&")[0].split("=")[1];
			var data = {
				ticket : ticket 
			};
			$.ajax({
				url : "/get_shake_info",
				data : data,
				type : "post",
				success : function(dataRes){
					if (dataRes.length == 0) {
						$("#noSign").show();
						} else {
						$("#isStartSign").show();
						localStorage.setItem("wx_id", dataRes[0].wx_id);
						localStorage.setItem("user_id", dataRes[0].user_id);
						localStorage.setItem("subject", dataRes[0].subject);
						localStorage.setItem("cls", dataRes[0].class);
						localStorage.setItem("subject_id", dataRes[0].subject_id);
						localStorage.setItem("class_id", dataRes[0].class_id);
						$("#subject_txt").html(dataRes[0].subject);
						$("#cls_txt").html(dataRes[0].class);

						var data = {
							"wx_id": localStorage.getItem("wx_id")
						};
						$.ajax({
							url: '/student_sign',
							type : 'post',
							data : data,
							success : function(res){
								if (res.code == 0) { 
									$("#firstSignContent").hide();
									$("#isFirstSign").hide();
									touch.on("#signSure",'tap',function(){
										data = {
											"wx_id": localStorage.getItem("wx_id"),
											"class_id"  : localStorage.getItem("class_id"),
											"subject_id": localStorage.getItem("subject_id")
										};
										$.ajax({
											url : "/post_sign_up",
											type : "post",
											data : data,
											success : function(res){
												$("#sign_up").hide();
												$("#signSuccess").show(); 
											}
										});
									})
									}else {
									touch.on("#signSure",'tap',function(){
										if ($("#number").val() == "" || $("#name").val() == "" || $("#cls").val() == "")
										{
											alert("输入内容不能为空");
										} else {
											data = {
												"number"    : $("#number").val(),
												"name"      : $("#name").val(),
												"cls"       : $("#cls").val(),
												"wx_id":	  localStorage.getItem("wx_id"),
												"class_id"  : localStorage.getItem("class_id"),
												"subject_id": localStorage.getItem("subject_id")
											};
											$.ajax({
												url : "/create_student",
												type : "post",
												data : data,
												success : function(res){
													$("#sign_up").hide();
													$("#firstSignContent").hide();
													$("#signSuccess").show(); 
												},
												error : function(res){
												}
											});
											$.ajax({
												url : "/post_sign_up_first",
												type : "post",
												data : data,
												success : function(res){
													$("#sign_up").hide();
													$("#firstSignContent").hide();
													$("#signSuccess").show(); 
												},
												error : function(res){
												}
											});
											$.ajax({
												url : "/add_subject_student",
												type : "post",
												data : data,
												success : function(res){
													$("#sign_up").hide();
													$("#firstSignContent").hide();
													$("#signSuccess").show(); 
												},
												error : function(res){
												}
											});
										}
									})
								}
							}
						});
					}
				}
			});
		</script>
	</body>
</html>
