html,body{
	padding:0;
	margin:0;
	font-family: "微软雅黑";
	height:100%;
}
ul{
	list-style: none;
	padding:0;
}
.bookIco{
	width:50px;
	height:50px;
}
/*
 * stuFir
 */
.stuFir{
	padding:0;
	height:100%;
	background:#fcfcfc;
}
.stuFir h4{
	font-size: 16px;
	margin-top:5px;
}
.stuFir .header{
	text-align: left;
	background:#eeeeee;
	height:60px;
	width:100%;
	padding:5px 15px;
}
.stuFir .header p{
	margin-left:60px;
	color:#999999;
	font-size:14px;
}
.stuFir .tool{
	height:40px;
	line-height:40px;
	border-top:1px solid #a6a6a6;
	border-bottom:1px solid #cccccc;
	padding-left:15px;
}
.stuFir .tool span{
	color:red;
}
.stuFir .content p{
	text-align: left;
	height:40px;
	width:100%;
	line-height:40px;
	background: #EEEEEE;
	padding-left:15px;
	border-bottom: 1px solid #cccccc;
	margin:0;
}
.stuFir .content li{
	height:40px;
	line-height: 40px;
	padding-left:15px;
	font-size:15px;
	color:#2b2a2f;
	border-bottom: 1px solid #cccccc;
}
.stuFir .content input{
	border:0;
	height:30px;
    outline: none;
    margin-left:15px;
}
.stuFir .btnLi{
	margin-top:20px;
	text-align: center;
	border-bottom-width:0px !important;
}
.stuFir .btnLi button{
	width:80%;
}
/*
 * stuSec
 */
.stuSec{
	padding:0;
	height:100%;
	background:#fcfcfc;
}
.stuSec .bookIco{
	width:50px;
	height:50px;
}
.stuSec h4{
	font-size: 16px;
	margin-top:5px;
}
.stuSec .header{
	text-align: left;
	background:#eeeeee;
	height:60px;
	width:100%;
	padding:5px 15px;
}
.stuSec .header p{
	margin-left:60px;
	color:#999999;
	font-size:14px;
}
.stuSec .tool{
	height:40px;
	line-height:40px;
	border-top:1px solid #a6a6a6;
	border-bottom:1px solid #cccccc;
	padding-left:15px;
}
.stuSec .content p{
	text-align: left;
	height:40px;
	width:100%;
	line-height:40px;
	background: #EEEEEE;
	padding-left:15px;
	border-bottom: 1px solid #cccccc;
	margin:0;
}
.stuSec .content li{
	height:40px;
	line-height: 40px;
	padding-left:15px;
	font-size:15px;
	color:#2b2a2f;
	border-bottom: 1px solid #cccccc;
}

.stuSec .btnLi{
	margin-top:40px;
	text-align: center;
	border-bottom-width:0px !important;
}
.stuSec .btnLi button{
	width:80%;
}
/*
 * signOK
 */
.signOK{
	padding:0;
	height:100%;
	background:#fcfcfc;
}
.signOK .bookIco{
	width:50px;
	height:50px;
}
.signOK h4{
	font-size: 16px;
	margin-top:5px;
}
.signOK .header{
	text-align: left;
	background:#eeeeee;
	height:60px;
	width:100%;
	padding:5px 15px;
}
.signOK .header p{
	margin-left:60px;
	color:#999999;
	font-size:14px;
}
.signOK .tool{
	height:40px;
	line-height:40px;
	border-top:1px solid #a6a6a6;
	padding-left:15px;
}
.signOK .content img{
    width: 21px;
    height: 18px;
    margin-right:8px;
}
.signOK .content p{
	text-align: center;
	font-size:18px;
}

/*
 *creatKc 
 */
.creatKc{
	padding:0;
}
.creatKc h4{
	margin:0;
}
.creatKc .header{
	text-align: center;
	background:#eeeeee;
	height:40px;
	line-height:40px;
	width:100%;
	padding-top:10px;
}
.creatKc span{
	float:left;
	display:block;
    margin-top: 2px;
	margin-left:15px;
    height: 17px;
	width:10px;
	background:url(../img/back.png);
	background-size:100%;
}
.creatKc .content{
	margin-top:20px;
	border-top: 1px solid #CCCCCC;
}
.creatKc .content li{
	height:40px;
	line-height: 40px;
	padding-left:15px;
	font-size:15px;
	color:#2b2a2f;
	border-bottom: 1px solid #cccccc;
}
.creatKc .content input{
	border:0;
	height:30px;
    outline: none;
    margin-left:15px;
    margin-top:2px;
}
.creatKc .btnLi{
	margin-top:20px;
	text-align: center;
	border-bottom-width:0px !important;
}
.creatKc .btnLi button{
	width:80%;
}

/*
 * list
 */
.list{
	padding:0;
}
.list h4{
	margin:0;
}
.list .header{
	text-align: center;
	background:#eeeeee;
	height:40px;
	line-height:40px;
	width:100%;
	padding-top:10px;
}
.list .header span{
	color:#50c760;
	float:right;
	display:block;
	height:20px;
	margin-top:-21px;
	margin-right:15px;
	line-height:20px;
}
.list li{
	position:relative;
	text-align: left;
	height:70px;
	width:100%;
	padding:10px 15px;
	border-bottom:1px solid #CCCCCC;
}
.list .content span{
	font-size:16px;
	margin:5px 0;
}
.list .content p{
	margin-top:5px;
	margin-left:60px;
	color:#999999;
	font-size:14px;
}
.list .rightIco{
	position:absolute;
	top:21px;
	right:5px;
	display:block;
	width: 10px;
	height:14px;
	background-image: url(../img/lab.png);
	background-size:100%;
}
/*
 * buqiandao
 */
.buqiandao{
	padding:0;
}
.buqiandao h4{
	margin:0;
	font-size:16px;
}
.buqiandao .header{
	text-align: center;
	background:#eeeeee;
	height:40px;
	line-height:40px;
	width:100%;
	padding-top:10px;
}
.buqiandao span{
	float:left;
	display:block;
    margin-top: 2px;
	margin-left:15px;
    height: 17px;
	width:10px;
	background:url(../img/back.png);
	background-size:100%;
}
.buqiandao .content{
	margin-top:20px;
	border-top: 1px solid #CCCCCC;
}
.buqiandao .content li{
	height:40px;
	line-height: 40px;
	padding-left:15px;
	font-size:15px;
	color:#2b2a2f;
	border-bottom: 1px solid #cccccc;
}
.buqiandao .content input{
	border:0;
	height:30px;
    outline: none;
    margin-left:15px;
}
.buqiandao .btnLi{
	margin-top:20px;
	text-align: center;
	border-bottom-width:0px !important;
}
.buqiandao .btnLi button{
	width:80%;
}
/*
 * result
 */
.result{
	padding:0;
}
.result h4{
	margin:0;
	font-size:16px;
}
.result .header{
	text-align: center;
	background:#eeeeee;
	height:40px;
	line-height:40px;
	width:100%;
	padding-top:10px;
}
.result .header span{
	float:left;
	display:block;
    margin-top: 2px;
	margin-left:15px;
    height: 17px;
	width:10px;
	background:url(../img/back.png);
	background-size:100%;
}
.result .title{
	position:relative;
	text-align: left;
	height:70px;
	width:100%;
	padding:10px 15px;
	border-top:1px solid #CCCCCC;
	background: #eeeeee;
}
.result .content .title span{
	font-size:16px;
	margin:5px 0;
}
.result .content p{
	margin-top:5px;
	margin-left:60px;
	font-size:14px;
}
.result .rightIco{
	padding:3px 6px;
	text-align: center;
	position:absolute;
	top:21px;
	right:5px;
	width:60px;
}
.result .popNum{
	height:40px;
	line-height: 40px;
	border-bottom: 1px solid #CCCCCC;
	padding-left:15px;
}
.result .popNum p{
	margin:5px;
	text-align: center;
}
.result .popList{
	position:relative;
	padding-left:15px;
	border-bottom: 1px solid #CCCCCC;
}
.result .popList .rightIco{
	top:10px;
}
.result .popList .tel{
	margin-left:10px;
}
.result li .listTitle{
	margin-left:0 !important;
	border-bottom: 1px solid #CCCCCC;
	padding-left:15px;
	padding-bottom:9px;
}
.result .attendance .rightIco{
	padding:3px 6px;
	text-align: center;
	position:absolute;
	top:21px;
	right:5px;
	width:35px;
	height:20px;
}
/*
 * star
 */
.star{
	padding:0;
	height:100%;
}
.star h4{
	margin:0;
	font-size:16px;
}

.star .header{
	
	width:100%;
   	position: fixed;
    top: 0px;
    z-index: 999;
}
.star .header .names{
	margin-left:8px;
	margin-bottom:2px;
}
.star .hearderH{
	height:40px;
	line-height:40px;
	width:100%;
	text-align: center;
	background:#eeeeee;
	padding-top:10px;
}
.star .header .leftIco{
	float:left;
	display:block;
    margin-top: 2px;
	margin-left:15px;
    height: 17px;
	width:10px;
	background:url(../img/back.png);
	background-size:100%;
}
.star .title{
	position:relative;
	text-align: left;
	height:70px;
	width:100%;
	padding:10px 15px;
	border-top:1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background: #eeeeee;
}
.star .title a{
	background: #42a0e8;
	border-color:#42A0E8;
}
.star .content{
    position: relative;
    top: 110px;
    height:100%;
}
.star .content #listBox{
	height:100%;
	overflow: scroll;
	padding-bottom:49px;
}
.star .content .title span{
	font-size:16px;
	margin:5px 0;
}
.star .title p{
	margin-left:58px;
	color:#999999;
	font-size:14px;
}
.star .rightIco {
    padding: 3px 6px;
    text-align: center;
    position: absolute;
    top: 21px;
    right: 5px;
    width: 70px;
 }
 .star li{
 	position:relative;
 	height:40px;
 	line-height: 40px;
 	border-bottom: 1px solid #CCCCCC;
 	padding-left:15px;
 	text-align: left;
 }
 .star .body .rightIco {
    position: absolute;
    top: 10px;
    right: 15px;
    display: block;
    width: 10px;
    height: 18px;
    background-image: url(../img/lab.png);
    background-size: 100%;
}
.star .footer{
	width: 100%;
    height: 60px;
    border-top: 1px solid #CCCCCC;
    text-align: center;
    position: fixed;
    bottom: 0px;
    padding-top: 14px;
    background: #F1EBEB;
}
.star  .starBtn{
	width:80%;
}